thumbs.db
.DS_Store
.vscode
__pycache__

/SaveData
/System
/AI_sakray
/data/luafiles514
/data/imf
/Utility/Patches/Backup
/Utility/Reports

/Utility/Patches/LastPatchesInfo.json
/Utility/Patches/*/Resource/Translated/System/iteminfo.lub
/Utility/Patches/*/Resource/Translated/System/iteminfo_sak.lub
/Utility/Patches/*/Resource/Translated/System/towninfo.lub
/Utility/Patches/*/Resource/Translated/data/luafiles514/lua files/skillinfoz/skillinfolist.lub
/licence.txt
/*.exe