thumbs.db
.DS_Store
.vscode
__pycache__

/SaveData
/System
/AI_sakray
/data/luafiles514
/data/imf
/Utility/Patches/Backup
/Utility/Reports

/Utility/Bin/GrfCL/msvcp100.dll
/Utility/Bin/GrfCL/msvcr100.dll
/Utility/Bin/GrfCL/Resources.*.dll
/Utility/Bin/GrfCL/tmp
/Utility/Resources/Databases/RevertData/*.json

/Utility/Patches/LastPatchesInfo.json
/Utility/Patches/*/Resource/Translated/System/iteminfo.lub
/Utility/Patches/*/Resource/Translated/System/iteminfo_sak.lub
/Utility/Patches/*/Resource/Translated/System/towninfo.lub
/Utility/Patches/*/Resource/Translated/data/luafiles514/lua files/skillinfoz/skillinfolist.lub
/Utility/Patches/*/Resource/Translated/data/luafiles514/lua files/skillinfoz/skilldescript.lub
/licence.txt
/*.exe
/*.grf
